/*
Colors used
Text Color (Ocean): #007477;
Primary Color (light blue): #CDEDEE;
Secondary Color (white/blue): #E2F0F0;
 */

:root {
   --lightblue: #CDEDEE;
   --ocean: #007477;
   --whiteblue: #E2F0F0;
   --black: #002c26;
   --red: #f76414;
   --yellow: #fcffad;
   --orange: #edc655;
   --white: #F2F3F3;
   --font-family: 'Lato', sans-serif;
   --font-weight: 400;
   --font-weight-large: 700;
   --font-size: 14px;
   --font-size-large: 18px;
   --line-height: 1.6;
}

body {
   font-family: var(--font-family);
   font-weight: var(--font-weight);
   font-size: var(--font-size);
   /* Sets the font size to 14px */
   line-height: var(--line-height);
   /* Sets the line-height to 1.6 */
   background-color: var(--lightblue);
   min-height: 90%;
   margin-bottom: 100px;
}

header {
   font-weight: var(--font-weight);
   font-size: var(--font-size-large);
   background-color: transparent;
   line-height: var(--line-height);
}

footer {
   font-family: var(--font-family);
   font-weight: var(--font-weight);
   font-size: var(--font-size);
   line-height: var(--line-height);
   color: var(--ocean);
}

h1 {
   font-weight: var(--font-weight-large);
   line-height: var(--line-height);
   color: var(--ocean);
   text-align: center;
}

h2 {
   margin: auto;
   font-weight: var(--font-weight);
   line-height: var(--line-height);
   color: var(--ocean);
}

h3 {
   font-weight: var(--font-weight-large);
   line-height: var(--line-height);
   color: var(--ocean);
}

p {
   font-weight: var(--font-weight-large);
   line-height: var(--line-height);
   color: var(--ocean);
}

form {
   font-weight: var(--font-weight-large);
   line-height: var(--line-height);
   color: var(--ocean);
}

main {
   padding: 30px;
   display: block;
}

a {
   font-family: var(--font-family);
   text-align: center;
}

a:visited {
   /* visited link */
   color: var(--black);
}

a:active {
   /* selected link */
   color: var(--black);
}

a:hover, a:focus {
   /* lets the mouse appear as a hand when hovering over the button */
   cursor: pointer;
   /* reduces the opacity of the button to 80% */
   opacity: 0.8;
   transform: translateY(10px);
}

input, texture, select, button {
   font-family: system-ui;
}

button, .button {
   /* overwrites browser defaults and resets the border */
   border: none;
   display: inline-block;
   /*takes the font from the outer container */
   font-family: inherit;
   /* styles the background color, font color, and text decoration (underline, etc.) of the button */
   background-color: var(--ocean);
   color: var(--white);
   text-decoration: none;
   /* adds spacing to the button (this will be discussed more in-depth later */
   padding: 10px;
   border-radius: 3px;
   /* gives the button a bottom border with a wideth of 2p x, a type of solid, and a color in RGBA format */
   border-bottom: 2px solid var(--black);
   transition-duration: 0.2s;
   transition-property: opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
   cursor: pointer;
   opacity: 0.8;
}

.navigation-list__item--active {
   text-decoration: none;
}

table {
   margin: auto;
   float: left;
   width: 300px;
   height: 300px;
}

.profile__portrait {
   float: left;
   display: block;
   width: 225px;
   margin-right: 40px;
   height: auto;
   border-radius: 50%;
}

.profile__item {
   margin: 5%;
   align-items: center;
}

.page-footer {
   clear: both;
   display: flex;
   flex-direction: column;
   text-align: center;
   flex-direction: column;
   width: 100%;
   margin: 0;
   position: fixed;
   bottom: 0;
   border-top: 1px solid white;
   background-color: var(--whiteblue);
}

footer {
   display: block;
   left: 0;
   right: 0;
}

.profile {
   max-width: 700px;
   margin: 0 auto;
}

.navigation-list {
   display: inline-block;
   text-align: left;
   list-style-type: none;
}

.navigation-list li {
   display: inline-block;
   margin-left: 20px;
}

* {
   box-sizing: border-box;
}

.page-header {
   display: flex;
   padding: 0px;
   border-bottom: 1px solid #F5F5F5;
   width: 100%;
   max-width: 100%;
   background-size: cover;
   flex-wrap: wrap;
}


.page-header__item {
   width: 150px;
   height: 150px;
   padding: 0px;
   flex: 0 1 20px;
}

.page-header__item:last-child {
   flex-grow: 1;
   text-align: right;
}

.div__contact-form {
   padding: 40px 20px;
   text-align: left;
   margin: 0 auto;
   max-width: 700px;
}

.div__contact-form, textarea {
   display: block;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 100%;
}

.div__contact-form--input {
   display: block;
}

.div__contact-form--input textarea {
   display: block;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 100%;
}

input {
   writing-mode: horizontal-tb;
   text-rendering: auto;
   color: fieldtext;
   letter-spacing: normal;
   word-spacing: normal;
   text-indent: 0px;
   appearance: auto;
   cursor: text;
   border-width: 2px;
   border-style: inset;
}

.grid {
   display: grid;
   grid-gap: 20px;
   padding: 20px;
   text-align: center;
}

.grid__item {
   background-color: var(--whiteblue);
   padding: 30px;
   border-radius: 5px;
   border: 10px solid white;
   box-shadow: 10px;
}

.grid__item:last-child {
   grid-column-start: 3;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 1;
}

.berlin-illustration {
   max-width: 500px;
   display: block;
   margin-left: auto;
   margin-right: auto;

}

@media all and (max-width: 500px) {
   .grid {
      grid-template-columns: 1fr;
   }
}

@media all and (min-width: 500px) and (max-width: 750px) {
   .grid {
      grid-template-columns: 1fr 1fr;
   }
}

@media all and (max-width: 750px) {

   /* shared code */
   .grid {
      grid-gap: 10px;
   }

   .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
   }

   h1 {
      font-size: 12px;
   }
}

@keyframes color-change {
   0% {
      fill: var(--orange);
   }

   50% {
      fill: var(--yellow);
   }

   100% {
      fill: var(--red);
   }
}

.sun {
   animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
   from {
      transform: translate(0, 50px);
   }

   to {
      transform: translate(200px, 50px);
   }
}

@keyframes cloud-move-reverse {
   from {
      transform: translate(446px, 48px);
   }

   to {
      transform: translate(100px, 48px);
   }
}

.cloud-front {
   animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
   animation: 34s cloud-move-reverse infinite alternate linear;
}